#header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
}
#nav-links {
  display: flex;
  align-items: center;
}
#nav-links ul {
  display: flex;
}
#nav-links li {
  list-style: none;
  margin-right: 10px;
  font-weight: bold;
}
#company-logo img {
  width: 200px;
  height: 120px;
}
#res-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#res-cards {
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 300px;
}
#res-cards img {
  width: 300px;
  height: 200px;
}
#res-cards:hover {
  cursor: pointer;
  border: 1px solid grey;
}
.top-restaurants,
.all-restaurants {
  margin: 10px;
}
.shimmer-cards-container {
  display: flex;
  flex-direction: column;
}
.shimmer-cards-img {
  padding: 10px;
  width: 300px;
  height: 200px;
  background: lightgray;
}
.shimmer-cards-name,
.shimmer-cards-cuisine,
.shimmer-cards-costForTwo,
.shimmer-cards-avgRating,
.shimmer-cards-deliveryTime {
  background: lightgray;
  height: 15px;
  width: 150px;
  margin-top: 10px;
}
.footer-container {
  border: 1px solid #f0f0f0;
  margin-top: 10px;
}
.res-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.res-details img {
  margin-top: 10px;
  width: 600px;
  height: 300px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  row-gap: 8px;
  flex-wrap: wrap;
}
.menu-items li {
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
#nav-links span {
  font-weight: 700;
  margin-right: 10px;
}
